ol {
    margin-left: 3rem;
    list-style-type: decimal;
}

ul {
    margin-left: 3rem;
    list-style-type: disc;
}

figcaption p {
    font-weight: 00;
    font-size: 0.9em;
    color: var(--info);
    margin-top: 0px;
    margin-bottom: 40px;
}

pre {
    background-color: var(--codebg);
    color: var(--codetext);
    border-radius: 15px;
    padding: 20px;
    font-size: medium;
    font-family: 'Roboto Mono';
}

a {
    text-decoration: underline;

    &:hover {
        text-decoration-thickness: 2px;
        color: var(--buttonhover);
    }
}

h1, h2, h3, h4, h5, h6 {
    a {
        text-decoration: none;
    }
}