@tailwind base;
@tailwind components;
@tailwind utilities;

:root[data-theme="light"] {
    --button: #368AF7;
    --buttonhover: #2D75D3;
    --backgreen: #CAFFC5;
    --backblue: #97FFF6;
    --body: #F3F4F6;
    --main: #FFF;
    --navbar: #FFF;
    --tablehead: #E5E7EB;
    --tableborder: #E5E7EB;
    --tablerow: #F3F4F6;
    --mainborder: #E9E9E9;
    --text: #212121;
    --info: #6B7280;
    --codebg: #111827;
    --codetext: #FFF;
    --dots: #575757;
    --card: #FFF;
    --cardtext: #374151;
    --spotlight: 255, 255, 255;
}

:root[data-theme="dark"] {
    --button: #075985;
    --buttonhover: #0C4A6E;
    --backgreen: #4F6B4C;
    --backblue: #4B817D;
    --body: #030712;
    --main: #111827;
    --navbar: #111827;
    --tablehead: #030712;
    --tableborder: #030712;
    --tablerow: #1F2937;
    --mainborder: #000;
    --text: #E5E7EB;
    --info: #9CA3AF;
    --codebg: #030712;
    --codetext: #FFF;
    --dots: #000;
    --card: #111827;
    --cardtext: #D4D4D4;
    --spotlight: 21, 202, 130;
}

@layer base {
    h1, h2, h3, h4, h5, h6 {
        @apply font-bold mt-8 mb-4;
    }
    
    h1 {
        @apply text-4xl;
    }
    
    h2 {
        @apply text-3xl;
    }

    p {
        @apply my-4 text-lg;
    }

}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--body);
    margin: 0;
    padding: 0;
    color: var(--text);
    transition: all 0.3s;
}

main {
    border-radius: 10px;
    border: 1px solid var(--mainborder);
    background-color: var(--main);
    margin: 20px auto;
    padding: 30px;
    max-width: 800px;
    width: 100%;
    transition: all 0.3s;
}