@tailwind base;
@tailwind components;
@tailwind utilities;

:root[data-theme="light"] {
    --button: theme('colors.sky.500');
    --buttonhover: theme('colors.sky.600');
    --buttontext: white;
    --backgreen: theme('colors.green.200');
    --backblue: theme('colors.cyan.200');
    --body: theme('colors.gray.100');
    --main: white;
    --tablehead: theme('colors.gray.200');
    --tableborder: theme('colors.gray.200');
    --tablerow: theme('colors.gray.100');
    --mainborder: theme('colors.gray.200');
    --text: theme('colors.gray.900');
    --info: theme('colors.gray.500');
    --codebg: theme('colors.gray.900');
    --codetext: white;
    --dots: theme('colors.gray.600');
    --card: white;
    --cardtext: theme('colors.gray.700');
    --navbar: rgba(255, 255, 255, 0.7);
    --spotlight: 255, 255, 255;
}

:root[data-theme="dark"] {
    --button: theme('colors.sky.600');
    --buttonhover: theme('colors.sky.700');
    --buttontext: white;
    --backgreen: theme('colors.green.900');
    --backblue: theme('colors.cyan.900');
    --body: theme('colors.gray.950');
    --main: theme('colors.gray.900');
    --tablehead: theme('colors.gray.950');
    --tableborder: theme('colors.gray.950');
    --tablerow: theme('colors.gray.800');
    --mainborder: theme('colors.gray.800');
    --text: theme('colors.gray.200');
    --info: theme('colors.gray.400');
    --codebg: theme('colors.gray.950');
    --codetext: white;
    --dots: black;
    --card: theme('colors.gray.900');
    --cardtext: theme('colors.gray.300');
    --navbar: rgba(17, 24, 39, 0.8);
    --spotlight: 21, 202, 130;
}

@layer base {
    h1, h2, h3, h4, h5, h6 {
        @apply font-bold mt-8 mb-4;
    }
    
    h1 {
        @apply text-4xl;
    }
    
    h2 {
        @apply text-3xl;
    }

    p {
        @apply my-4 text-lg;
    }

}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--body);
    margin: 0;
    padding: 0;
    color: var(--text);
    transition: all 0.3s;
    hyphens: auto;
}

main {
    border-radius: 10px;
    border: 1px solid var(--mainborder);
    background-color: var(--main);
    margin: 20px auto;
    padding: 30px;
    max-width: 800px;
    width: 100%;
    transition: all 0.3s;
}